<%= form_for(@shot) do |f| %>
  <% if @shot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shot.errors.count, "error") %> prohibited this shot from being saved:</h2>

      <ul>
      <% @shot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :picture_id %><br />
    <%= f.text_field :picture_id %>
  </div>
  <div class="field">
    <%= f.label :individual_id %><br />
    <%= f.text_field :individual_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
